<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" />
    <!-- Matches Meta's native XR_FB_passthrough sample. QuestPad does not request
         android.permission.CAMERA because the runtime/compositor owns passthrough. -->
    <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="true" />

    <application
        android:allowBackup="false"
        android:hasCode="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="QuestPad"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

        <meta-data android:name="com.oculus.supportedDevices" android:value="all" />

        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

            <meta-data android:name="android.app.lib_name" android:value="questpad" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
